<li>
    {% if item.url %}
        <a href="{% url item.url %}"> {{ item.name }} </a>
    {% else %}
        <p> {{ item.name }} </p>
    {% endif %}
    {% if item.children.exists %}
    <ul id="submenu-{{ item.id }}" style="display: none;" onclick="toggleSubmenu(event, {{ item.id }})"> 
        {% for child in item.child_items.all %}
            {% include "menu_item.html" with menu_items=child.child_items.all %}
        {% endfor %}
    </ul>
{% endif %}
</li>

<script>
    function toggleSubmenu(event, id) {
        event.preventDefault();
        var submenu = document.getElementById('submenu-' + id);
        if (submenu.style.display === 'none') {
            submenu.style.display = 'block';
        } else {
            submenu.style.display = 'none';
        }
    }
</script>